.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--app-header-height);
  background-color: var(--dark-grey);

  &__text {
    color: var(--white);
    font-weight: 500;
  }
}
