.page-holder {
  width: 90%;
  min-height: calc(100vh - (var(--app-header-height)));
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 48px;

  @media (min-width: 1280px) {
    width: 1200px;
  }
}
